<div class="mission">
    <div class="mission_background parallax-window" data-parallax="scroll" data-image-src="../../Imagens/mission.jpg" data-speed="0.8"></div>
    <div class="mission_items d-flex flex-row flex-wrap align-items-start justify-content-start">

        <div class="mission_item text-center">
            <div class="mission_icon"><i class="fa fa-bell-o" aria-hidden="true"></i></div>
            <div class="mission_title">nossa missão</div>
            <div class="mission_text">Lorem ipsum dolor amet, consectet adipiscing doelit. Sed a mauri suscipita utrum arcu , gravida nisl. Interdum mante ipsum.</div>
        </div>

        <div class="mission_item text-center">
            <div class="mission_icon"><i class="fa fa-flag-o" aria-hidden="true"></i></div>
            <div class="mission_title">nossa comunidade</div>
            <div class="mission_text">Lorem ipsum dolor amet, consectet adipiscing doelit. Sed a mauri suscipita utrum arcu , gravida nisl. Interdum mante ipsum.</div>
        </div>

        <div class="mission_item text-center">
            <div class="mission_icon"><i class="fa fa-heart-o" aria-hidden="true"></i></div>
            <div class="mission_title">nossa crença</div>
            <div class="mission_text">Lorem ipsum dolor amet, consectet adipiscing doelit. Sed a mauri suscipita utrum arcu , gravida nisl. Interdum mante ipsum.</div>
        </div>

        <div class="mission_item text-center">
            <div class="mission_icon"><i class="fa fa-moon-o" aria-hidden="true"></i></div>
            <div class="mission_title">nossa fé</div>
            <div class="mission_text">Lorem ipsum dolor amet, consectet adipiscing doelit. Sed a mauri suscipita utrum arcu , gravida nisl. Interdum mante ipsum.</div>
        </div>

    </div>
</div>