@model ProjetoCincoSolas.ViewModel.ComentarioBiblicoViewModel

@{
    ViewBag.Title = "Comentarios Bíblicos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div class="row">
    <div class="col-md-12">
        <h2>Comentarios Bíblicos</h2>

        <div class="box-busca">
            <div class="row">
                <div class="form-group col-xs-12 col-md-2">
                    <label>Livro:</label>
                    @Html.DropDownListFor(x => x.IdLivro, Model.Livros, "Selecione", new { @class = "form-control" })
                </div>

                <div class="form-group col-xs-12 col-md-2">
                    <label>Capítulo:</label>
                    @Html.DropDownListFor(x => x.IdCapitulo, Model.Capitulos, "Selecione", new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#idLivro').on('change', function () {
        var idLivro = $('#IdLivro').val();
        var idCapitulo = $('#IdCapitulo').val();

        $('#IdLivro').empty().prop('disabled', !idLivro);
        $('#IdCapitulo').empty().prop('disabled', !idCapitulo);

        if (!idLivro) {
            return;
        }

        $.ajax({
            url: '@Url.Action("ListarCapitulos", "ComentarioBiblico")',
            data: { idLivro: idLivro },
            method: 'POST',
            dataType: 'json',
            cache: false,
            success: function (json) {
                if (!json.Erro) {
                    var combo = $('#idLivro');
                    combo.empty();
                    $.each(json.campos, function () {
                        combo.append(
                            $('<option/>', {
                                value: this.Value,
                                html: this.Text
                            })
                        );
                    });
                    $('#IdCampoTabelaCadastro').val(json.idCampo);
                }
            }
        });
        event.preventDefault();
    }).change();

</script>