
@{
    ViewBag.Title = "Perolas";
}

<link href="~/Content/about.css" rel="stylesheet" type="text/css" />
<link href="~/Content/about_responsive.css" rel="stylesheet" type="text/css" />
<!-- Home -->
<div class="home">
    <div class="home_background" style="background-image:url(../../Imagens/events.jpg)"></div>
    <div class="home_content">
        <div class="container">
            <div class="row">
                <div class="col d-flex flex-row align-items-center justify-content-start">
                    <div class="home_title">Perolas</div>
                    <div class="breadcrumbs ml-auto">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li>Perolas</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />


<div class="container">
    <p> "Cerca de 5 000 citações que servem de inspiração para comunicadores cristãos.</p>

    <div class="input-group pesquisa-curso">
        <input type="text" class="btnPesquisar col-md-6 col-sm-6 col-xs-6 col-lg-6 btn-lg form-control form-control-lg" placeholder="Pesquisar frase">
        <div class="input-group-append">
            <button class="btn btn-outline-primary btn-lg my-2 my-sm-0" type="button" id="btnPesquisar">Pesquisar</button>
        </div>
    </div>
</div>