
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Alegria Inabalável - Jonh Piper";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <h2>Alegria Inabalável - Jonh Piper</h2>
    <div id="link-player">
    </div>
</body>
</html>
<script>
    $(function () {
        $.ajax({
            dataType: "json",
            type: "GET",
            url: @Url.Action("GetCodigoDevocional", "DevocionalDiario"),
            success: function (dados) {
                $.ajax({
                    dataType: "json",
                    type: "GET",
                    url: "https://api.spreaker.com/episode/" + dados,
                    success: function (dados) {
                        if (dados) {
                            $('<iframe>', {
                                src: 'https://widget.spreaker.com/player?episode_id=' + dados.response.episode.episode_id + '&theme=dark&autoplay=false&playlist=false',
                                width: '100%',
                                height: '200px',
                                frameborder: "0"
                            }).appendTo('#link-player');
                        }
                    }
                });
            }
        });
    });

    setTimeout(function() {
        $("#widget-container > div > div.player > div.player_content > button").click();
    }, 3000);
</script>
