
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/about.css" rel="stylesheet" type="text/css" />
<link href="~/Content/about_responsive.css" rel="stylesheet" type="text/css" />
<!-- Home -->
<div class="home">
    <div class="home_background" style="background-image:url(../../Imagens/events.jpg)"></div>
    <div class="home_content">
        <div class="container">
            <div class="row">
                <div class="col d-flex flex-row align-items-center justify-content-start">
                    <div class="home_title">Sobre</div>
                    <div class="breadcrumbs ml-auto">
                        <ul>
                            <li><a href="@Url.Action("Index", "Home")">Início</a></li>
                            <li>Sobre</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- About -->

<div class="about">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <div class="section_title">welcome to our church</div>
                    <div class="section_subtitle">It's the start of an amazing journey of faith</div>
                </div>
            </div>
        </div>
        <div class="row about_row">
            <div class="col-lg-6">
                <div class="about_image"><img src="../Imagens/oprojeto.jpg" alt=""></div>
            </div>
            <div class="col-lg-6">
                <div class="about_content">
                    <div class="about_text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gestas ant eget risus varius, euismod tellus suscipit. Aenean condimentum cond mentum ulla, vitae imperd urna varius volutpa. Mauris lobotis comodo mollis nolle. In vetib  velit ifermentum empor euismod. Cras gravida maximus ligula ac posuere. Maecenas auctor interdum varius sollicitudin orci. Phasellus quis volutpat ex, id maximus magna. Sed elit posuere augue, tincid unt non ipsum sit amet, maximus sagittis lectus. Quisque tincidunt, antevis pharetra sodales, non ante magna tempus nulla, sed molestie orci magna quis tellus. Nulla facilisi sit amet libero sed condimentum.</p>
                    </div>
                    <div class="button about_button"><a href="#">read story</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Mission -->
@Html.Partial("_Missao");


<!-- Team -->
<div class="team">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <div class="section_title">our team</div>
                    <div class="section_subtitle">It’s leader of a Christian congregation</div>
                </div>
            </div>
        </div>
        <div class="row team_row">

            <!-- Team Item -->
            <div class="col-lg-4 team_col">
                <div class="team_item">
                    <div class="team_image">
                        <img src="images/team_1.jpg" alt="">
                        <div class="team_overlay d-flex flex-column align-items-center justify-content-end text-center trans_200">
                            <div class="team_overlay_text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a sollicitudin arcu. Nullam sagittis ipsum aliquet gravida mattis.</p>
                            </div>
                            <div class="team_overlay_contact">
                                <ul>
                                    <li>
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                        <div> : infodeercreative@gmail.com</div>
                                    </li>
                                    <li>
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <div>: +1234 800 8080</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="team_content text-center">
                        <div class="team_name">lena landrut</div>
                        <div class="team_title">Volunteer</div>
                    </div>
                </div>
            </div>

            <!-- Team Item -->
            <div class="col-lg-4 team_col">
                <div class="team_item">
                    <div class="team_image">
                        <img src="images/team_2.jpg" alt="">
                        <div class="team_overlay d-flex flex-column align-items-center justify-content-end text-center trans_200">
                            <div class="team_overlay_text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a sollicitudin arcu. Nullam sagittis ipsum aliquet gravida mattis.</p>
                            </div>
                            <div class="team_overlay_contact">
                                <ul>
                                    <li>
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                        <div> : infodeercreative@gmail.com</div>
                                    </li>
                                    <li>
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <div>: +1234 800 8080</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="team_content text-center">
                        <div class="team_name">Josh Brighton</div>
                        <div class="team_title">Lead Pastor</div>
                    </div>
                </div>
            </div>

            <!-- Team Item -->
            <div class="col-lg-4 team_col">
                <div class="team_item">
                    <div class="team_image">
                        <img src="images/team_3.jpg" alt="">
                        <div class="team_overlay d-flex flex-column align-items-center justify-content-end text-center trans_200">
                            <div class="team_overlay_text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a sollicitudin arcu. Nullam sagittis ipsum aliquet gravida mattis.</p>
                            </div>
                            <div class="team_overlay_contact">
                                <ul>
                                    <li>
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                        <div> : infodeercreative@gmail.com</div>
                                    </li>
                                    <li>
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <div>: +1234 800 8080</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="team_content text-center">
                        <div class="team_name">arnold pascal</div>
                        <div class="team_title">Pastor</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Quote -->
<div class="quote">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="quote_container text-center">
                    <div class="quote_quote">“Wherever the bishop appears, there let the people be, even as wheresoever Christ Jesus is, there is the catholic church.”</div>
                    <div class="quote_icon"><img src="images/quote_2.png" alt=""></div>
                    <div class="quote_source">Ignatius of Antioch</div>
                </div>
            </div>
        </div>
    </div>
</div>
