<connectionStrings>
  <add name="DatabaseConnection" connectionString="Data Source=ProjetoCincoSolas.mssql.somee.com;Initial Catalog=ProjetoCincoSolas; User ID=cincosolas_SQLLogin_1; Password=k3l1evnr7h;" providerName="System.Data.SqlClient" />
  <!--<add name="SqlLite" connectionString="Data Source=D:\Programas\SQLite\MySword\ComentarioBiblia.db; Version=3" />-->
  <add name="sqlLite" connectionString="Data Source=C:\ComentarioBiblia.db; Version=3" />
</connectionStrings>