<connectionStrings>
  <add name="somee" connectionString="Data Source=ProjetoCincoSolas.mssql.somee.com;Initial Catalog=ProjetoCincoSolas; User ID=cincosolas_SQLLogin_1; Password=k3l1evnr7h;" providerName="System.Data.SqlClient" />
  <add name="sqlLocal" connectionString="Data Source=DESKTOP-RC59M3B\SQLEXPRESS;Initial Catalog=ProjetoCincoSolas; Integrated Security=True; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  <add name="sqlLite" connectionString="Data Source=C:\ComentarioBiblia.db; Version=3" />
</connectionStrings>