
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Alegria Inabalável - Jonh Piper";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
    <script src="~/Scripts/jquery-1.10.2.js"></script>
</head>
<body>
    <h2>Alegria Inabalável - Jonh Piper</h2>
    <div class="link-player">
        <button id="sincronizar" class="btn btn-primary" type="submit">Button</button>
    </div>
</body>
</html>
<script>
    $(function () {
        $("#sincronizar").click(function (e) {
            $.ajax({
                type: "POST",
                url: "/DesiringGod/SincronizarDados/",
                success: function (result) {
                    alert('Dados sincronizados com sucesso!');
                },
                error: function (result) {
                    alert('error');
                }
            });
        });

        $.ajax({
            dataType: "json",
            type: "GET",
            url: "/DesiringGod/GetCodigoDevocional",
            success: function (dados) {
                $.ajax({
                    dataType: "json",
                    type: "GET",
                    url: "https://api.spreaker.com/episode/" + dados,
                    success: function (dados) {
                        if (dados) {
                            $('<iframe>', {
                                src: 'https://widget.spreaker.com/player?episode_id=' + dados.response.episode.episode_id + '&theme=dark&autoplay=true&playlist=false',
                                width: '100%',
                                height: '200px',
                                frameborder: "0"
                            }).appendTo('.link-player');

                            //window.location.replace(dados.response.episode.download_url);
                        }
                    }
                });
            }
        });
    });

    $(".button_play.xlarge").click();
</script>
